
services:
  backend:
    build:
      context: ./backend
    command: bash ./run.sh
    volumes:
      - ./backend:/app
    working_dir: /app
    ports:
      - "8000:8000"
  frontend:
    build:
      context: ./frontend
    command: npm run dev
    environment:
      - BACKEND_URL=http://backend:8000
    volumes:
      - .:/workspace
    working_dir: /workspace/frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
